<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="custom-external-border">
    <h1 class="display-4">Type some words</h1>
    <app-user-input (textSubmitted)="onTextSubmitted($event)"></app-user-input>
    <div class="custom-internal-border">
      <app-even-length-words *ngIf="evenLengthWords.length > 0" [words]="evenLengthWords"></app-even-length-words>
      <app-odd-length-words *ngIf="oddLengthWords.length > 0" [words]="oddLengthWords"></app-odd-length-words>
    </div>
  </div>
</body>
</html>